# ----------------------------------------------------------------------------------------------------------------------
# DEPLOY
# ----------------------------------------------------------------------------------------------------------------------

DEPLOY_CONTAINER_USER_UID=1000
DEPLOY_CONTAINER_USER_GID=1000

DEPLOY_DOMAIN=127.0.0.1
DEPLOY_IS_HTTPS=0

DEPLOY_PUBLIC_PORT_ADMIN=80
DEPLOY_PUBLIC_PORT_MONITORING=8001
DEPLOY_LOCAL_PORT_NODE_EXPORTER_EXPORTER=9100
DEPLOY_LOCAL_PORT_NODE_EXPORTER_PROXY_PUSH=9101

DEPLOY_ADMIN_APP_NAME="Example.Admin"
DEPLOY_ADMIN_BASE_URL=http://127.0.0.1:8000

# ----------------------------------------------------------------------------------------------------------------------
# ADMIN
# ----------------------------------------------------------------------------------------------------------------------

ADMIN_FRONT_SESSION_COOKIE_NAME=ASID
ADMIN_AUTH_API_GRPC_APIKEY=9b519678d11a86c84691ec7ddecfbe5f
ADMIN_CFM_API_GRPC_APIKEY=9b519678d11a86c84691ec7ddecfbe5f

# Значения ИЗ бд, а НЕ ДЛЯ нее.
ADMIN_STORAGE_MYSQL_DB_AUTH=auth
ADMIN_STORAGE_MYSQL_DB_CFM=confirmation
ADMIN_STORAGE_MYSQL_CLIENT_APP_USER=docker_app_user
ADMIN_STORAGE_MYSQL_CLIENT_APP_PASSWORD=docker_app_password
ADMIN_STORAGE_MYSQL_CLIENT_MIGRATION_USER=docker_migration_user
ADMIN_STORAGE_MYSQL_CLIENT_MIGRATION_PASSWORD=docker_migration_password
ADMIN_STORAGE_MYSQL_CLIENT_PROMETHEUS_EXPORTER_USER=docker_prometheus_exporter_user
ADMIN_STORAGE_MYSQL_CLIENT_PROMETHEUS_EXPORTER_PASSWORD=docker_prometheus_exporter_password

# ----------------------------------------------------------------------------------------------------------------------
# MONITORING
# ----------------------------------------------------------------------------------------------------------------------


# ----------------------------------------------------------------------------------------------------------------------
# CLIENT
# ----------------------------------------------------------------------------------------------------------------------


# ----------------------------------------------------------------------------------------------------------------------
